.App {
  text-align: center;
  background-image: url("./imagenes/fondo1.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  
}

.contenedor{
  background-color: #11998ed7;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width:40%;
  height: 90%;
  border-radius: 5%;


}

.contenedorlogo{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height:30% ;
  width: 40%;
}

.logo{
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  
}

.informacion{
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  width: 60%;
  height: 15%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.contenedorInput{

  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 80%;
}

.form-control{
  font-size: 2rem;
  height: 75%;
  width: 80%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center
}

.tipodecambio{
  display:flex ;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  width: 80%;
 

}

.contenedor1{
  margin:1rem;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  width: 25%;


}


.contenedor2{
  margin: 1rem;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  width: 25%;


}


.button1{

 width: 15%;
 display: flex;
 justify-content: center;
 justify-items: center;
 flex-direction: column;

}


.flechas{
  height: 85%;
  width: 85%;

}

       
.button2{
  margin: 2%;
  width: 30%;
}

.resultado{

  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 15%;
  width: 80%;
  border-radius: 2%;
  border-style: solid;
  font-size: 4rem;
  text-align: center;
  background-color: rgba(250, 235, 215, 0.61);

}